/*

  Additional HTML element styling beyond normalization/reset

*/

html {
  background: -webkit-linear-gradient(to top, #15181b 0%, #1d1f23 100%)
    no-repeat fixed;
  background: -moz-linear-gradient(to top, #15181b 0%, #1d1f23 100%) no-repeat
    fixed;
  background: linear-gradient(to top, #15181b 0%, #1d1f23 100%) no-repeat fixed;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-user-select: none;
}

body {
  margin: 0;
}

header {
  height: 80px;
  margin: 30px auto;
}

header h1 {
  color: #ddd;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

canvas {
  border-radius: 2px;
  height: 280px;
  width: 8px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

button {
  outline: none;
}

/*

  UI Styling

 */

.vu {
  width: 200px;
  height: 200px;
  position: relative;
  background: url("../img/vu.png") top left no-repeat;
}

.vu:nth-child(1) {
  top: -10px;
}

.vu:nth-child(2) {
  top: 16px;
}

.mask {
  height: 108px;
  overflow: hidden;
  position: relative;
}

.needle {
  background: url("../img/needle.png") top left no-repeat;
  height: 51px;
  left: 54px;
  position: absolute;
  top: 64px;
  width: 48px;
  transform-origin: 48px 51px;
  transform: rotateZ(0deg);
  -webkit-transform-origin: 48px 51px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform-origin: 48px 51px;
  -moz-transform: rotateZ(0deg);
}

.vu-label {
  color: #111;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

#canvas {
  border-bottom: 1px solid #333;
  display: none;
  height: 65px;
  margin: 50px auto 20px;
  width: 600px;
}

/* buttons */
.btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    hsl(214, 8%, 28%) 0%,
    hsl(210, 8%, 20%) 100%
  );
  background: -webkit-linear-gradient(
    top,
    hsl(214, 8%, 28%) 0%,
    hsl(210, 8%, 20%) 100%
  );
  background: -moz-linear-gradient(
    top,
    hsl(214, 8%, 28%) 0%,
    hsl(210, 8%, 20%) 100%
  );
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  /* Text color: */
  color: #2158c5;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(200, 200, 240, 0.15);
}

.btn .mute {
  background: linear-gradient(
    to bottom,
    hsl(213, 100%, 50%) 0%,
    hsl(213, 100%, 50%) 100%
  );
  background: -webkit-linear-gradient(
    top,
    hsl(213, 100%, 50%) 0%,
    hsl(213, 100%, 50%) 100%
  );
  background: -moz-linear-gradient(
    top,
    hsl(213, 100%, 50%) 0%,
    hsl(213, 100%, 50%) 100%
  );
}

.label {
  background: linear-gradient(
    to bottom,
    hsl(214, 8%, 28%) 0%,
    hsl(210, 8%, 20%) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    hsl(214, 8%, 28%) 0%,
    hsl(210, 8%, 20%) 100%
  );
  background: -moz-linear-gradient(
    to bottom,
    hsl(214, 8%, 28%) 0%,
    hsl(210, 8%, 20%) 100%
  );
  border-radius: 0 0 3px 3px;
  bottom: 0;
  box-shadow: inset 0 0 2px hsl(214, 8%, 10%), 0 0 12px rgba(0, 0, 0, 0.35);
  color: #131519;
  font-size: 12px;
  font-weight: normal;
  height: 22px;
  left: 0;
  line-height: 22px;
  margin: 0;
  position: absolute;
  right: 0;
  text-shadow: 0 1px 1px rgba(200, 200, 240, 0.15);
}

.clear {
  clear: both;
}

.instructions {
  color: #ccc;
  font-family: "Open Sans";
  font-size: 13px;
  margin: 30px auto 0;
  text-align: center;
  width: 600px;
}

.pipe {
  color: hsl(214, 8%, 28%);
}

/* bottom buttons */
.buttons {
  display: inline-block;
  position: relative;
  top: -26px;
}

@media all and (max-width: 1200px) {
  header {
    margin: 20px 0 15px;
  }
  #meters {
    display: none;
  }
}
